/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/global.css */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F9FaFd; /* Dark green color */
  color: #36454f;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.items-start {
  align-items: flex-start;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.min-h-screen {
  min-height: 100vh;
}

.table-auto {
  width: auto;
  border-collapse: collapse;
}

.w-full {
  width: 100%;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-0 {
  margin-top: 0;
}

.md\:ml-6 {
  margin-left: 1.5rem;
}

.md\:mt-0 {
  margin-top: 0;
}

.overflow-auto {
  overflow: auto;
}

.rounded {
  border-radius: 0.25rem;
}

.bg-green-500 {
  background-color: #48bb78;
}

.bg-green-700 {
  background-color: #2f855a;
}

.bg-blue-500 {
  background-color: #4299e1;
}

.bg-blue-700 {
  background-color: #2b6cb0;
}

.hover\:bg-green-700:hover {
  background-color: #2f855a;
}

.hover\:bg-blue-700:hover {
  background-color: #2b6cb0;
}

.horizontal-button-row {
  display: flex;
  justify-content: space-around;
}

.page-header {
  padding: 12px;
}

.horizontal-button-row button {
  min-width: 100px;
  color: white;
}

.game-board {
  min-width: 600px;
}

.game-board .actor-hand {
  display: flex;
}

.timer-header {
  text-align: left;
  font-size: 36px;
}

.cards-in-play {
  justify-content: center;
}

.cards-in-play.cards-sm img {
  width: 60px;
}
.cards-in-play.cards-lg img {
  width: 100px;
}